<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <!-- Vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Monster Killer</title>
    <style>
      body {
        background-color: rgb(70, 70, 70);
        color: white;
      }
      .healthbar {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 20px 0;
        padding: 8px;
        position: relative;
      }
      .healthbar .badge {
        position: absolute;
        top: 8%;
        right: 2%;
      }
      .btn-lg {
        height: 95px;
        width: 44%;
        margin: 8px;
      }
      .monster-attack-timeout {
        font-size: 18px;
        display: inline-block;
        margin-top: 5px;
        padding: 6px;
        position: absolute;
        top: 2%;
        left: 5%;
        height: 35px;
        width: 35px;
        border: 2px solid rgb(255, 55, 55);
        border-radius: 50%;
      }
      .player-attack-timeout {
        font-size: 14px;
        display: inline-block;
        margin-top: 4px;
        padding: 3px;
        position: absolute;
        top: 2%;
        left: 5%;
        height: 25px;
        width: 25px;
        border: 2px solid rgb(233, 213, 39);
        border-radius: 50%;
      }
      .player-special-attack-timeout {
        font-size: 14px;
        display: inline-block;
        margin-top: 4px;
        padding: 3px;
        position: absolute;
        top: 2%;
        left: 15%;
        height: 25px;
        width: 25px;
        border: 2px solid rgb(248, 25, 25);
        border-radius: 50%;
      }
      .player-heal-timeout {
        font-size: 14px;
        display: inline-block;
        margin-top: 4px;
        padding: 3px;
        position: absolute;
        top: 2%;
        left: 25%;
        height: 25px;
        width: 25px;
        border: 2px solid rgb(13, 158, 20);
        border-radius: 50%;
      }
      .hit {
        background-color: rgb(255, 101, 101);
      }
      .alert {
        width: 45%;
        height: 80px;
        font-size: 16px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <section class="row mt-4">
          <div class="col-sm-12 col-md-5 healthbars">
            <h2 v-if="!gameIsRunning" class="mt-2 text-center">Health Bar</h2>
            <h2 v-else class="mt-2 text-center">
              <div class="alert alert-success" role="alert">
                You damaged: <strong>{{ player.lastDamage }}</strong>
              </div>
              <div class="alert alert-danger" role="alert">
                Monster damaged: <strong>{{ monster.lastDamage }}</strong>
              </div>
            </h2>

            <div ref="playerElement" class="healthbar shadow-sm">
              <h3 class="text-center">
                <span
                  v-if="!playerCanAttack && gameIsRunning"
                  class="player-attack-timeout"
                  >{{ player.attackTimeout }}</span
                ><span
                  v-if="!playerCanSpecialAttack && gameIsRunning"
                  class="player-special-attack-timeout"
                  >{{ player.specialAttackTimeout }}</span
                ><span
                  v-if="!playerCanHeal && gameIsRunning"
                  class="player-heal-timeout"
                  >{{ player.healTimeout }}</span
                >
                You
              </h3>
              <span class="badge badge-pill badge-success"
                >{{ player.health }}</span
              >
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                  role="progressbar"
                  aria-valuenow="75"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  :style="{width: player.health + '%'}"
                ></div>
              </div>
            </div>

            <div ref="monsterElement" class="healthbar shadow-sm">
              <h3 class="text-center">
                <span v-if="gameIsRunning" class="monster-attack-timeout"
                  >{{ monster.attackTimeout }}</span
                >
                Monster
              </h3>
              <span class="badge badge-pill badge-danger"
                >{{ monster.health }}</span
              >
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                  role="progressbar"
                  aria-valuenow="75"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  :style="{width: monster.health + '%'}"
                ></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <h2 class="mt-2 text-center">Control Bar</h2>

            <div class="controls">
              <button
                v-if="!gameIsRunning"
                class="btn btn-success btn-block mt-4"
                @click="onStartGame"
              >
                Start Game
              </button>

              <div v-else class="text-center">
                <button
                  :disabled="!playerCanAttack"
                  @click="onPlayerAttack"
                  class="btn btn-warning btn-lg"
                >
                  ATTACK
                </button>
                <button
                  :disabled="!playerCanSpecialAttack"
                  @click="onPlayerSpecialAttack"
                  class="btn btn-danger btn-lg"
                >
                  SPECIAL ATTACK
                </button>
                <button
                  :disabled="!playerCanHeal"
                  @click="onPlayerHeal"
                  class="btn btn-success btn-lg"
                >
                  HEAL
                </button>
                <button
                  @click="onGiveUp"
                  class="btn btn-outline-secondary btn-lg"
                >
                  GIVE UP
                </button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          gameIsRunning: false,
          defaults: {
            playerAttackTimeout: 4,
            playerSpecialAttackTimeout: 20,
            playerHealTimeout: 40,
            monsterAttackTimeout: 5,
            minMonsterAttackDamage: 5,
            maxMonsterAttackDamage: 10,
            minPlayerAttackDamage: 3,
            maxPlayerAttackDamage: 7,
            minPlayerSpecialAttackDamage: 10,
            maxPlayerSpecialAttackDamage: 20,
            minPlayerHealAmount: 30,
            maxPlayerHealAmount: 40,
          },
          player: {
            health: 100,
            attackTimeout: 4,
            attackCounter: null,
            specialAttackTimeout: 20,
            specialAttackCounter: null,
            healTimeout: 40,
            healCounter: null,
            lastDamage: 0,
          },
          monster: {
            health: 100,
            attackTimeout: 5,
            attackCounter: null,
            lastDamage: 0,
          },
          turnWinner: '',
        },
        computed: {
          playerCanAttack: function () {
            return this.player.attackTimeout === 0 ? true : false;
          },
          playerCanSpecialAttack: function () {
            return this.player.specialAttackTimeout === 0 ? true : false;
          },
          playerCanHeal: function () {
            return this.player.healTimeout === 0 ? true : false;
          },
        },
        methods: {
          onStartGame: function () {
            this.resetGame();
            this.gameIsRunning = true;
            this.startMonsterAttacks();
            this.startPlayerAttacks();
            this.startPlayerSpecialAttacks();
            this.startPlayerHealCounter();
          },
          onPlayerAttack: function () {
            const damage = this.calculateAmount(
              this.defaults.minPlayerAttackDamage,
              this.defaults.maxPlayerAttackDamage
            );
            this.monster.health -= damage;
            this.player.lastDamage = damage;
            this.player.attackTimeout = this.defaults.playerAttackTimeout;
            this.startPlayerAttacks();
            this.hit(this.$refs.monsterElement);

            if (this.checkWinner()) {
              alert(`${this.turnWinner} won!!!`);
            }
          },
          onPlayerSpecialAttack: function () {
            const damage = this.calculateAmount(
              this.defaults.minPlayerSpecialAttackDamage,
              this.defaults.maxPlayerSpecialAttackDamage
            );
            this.monster.health -= damage;
            this.player.lastDamage = damage;
            this.player.specialAttackTimeout = this.defaults.playerSpecialAttackTimeout;
            this.startPlayerSpecialAttacks();
            this.hit(this.$refs.monsterElement);

            if (this.checkWinner()) {
              alert(`${this.turnWinner} won!!!`);
            }
          },
          onPlayerHeal: function () {
            const heal = this.calculateAmount(
              this.defaults.minPlayerHealAmount,
              this.defaults.maxPlayerHealAmount
            );
            this.player.health += heal;
            this.player.healTimeout = this.defaults.playerHealTimeout;
            this.startPlayerHealCounter();
          },
          onGiveUp: function () {
            this.resetGame();
          },
          startMonsterAttacks: function () {
            this.monster.attackCounter = setInterval(() => {
              this.monster.attackTimeout--;

              if (this.monster.attackTimeout === 0) {
                this.monsterAttack();
                this.monster.attackTimeout = this.defaults.monsterAttackTimeout;
              }
            }, 1000);
          },
          monsterAttack: function () {
            const damage = this.calculateAmount(
              this.defaults.minMonsterAttackDamage,
              this.defaults.maxMonsterAttackDamage
            );
            this.player.health -= damage;
            this.monster.lastDamage = damage;
            this.hit(this.$refs.playerElement);

            if (this.checkWinner()) {
              alert(`${this.turnWinner} won!!!`);
            }
          },
          startPlayerAttacks: function () {
            this.player.attackCounter = setInterval(() => {
              this.player.attackTimeout--;

              if (this.player.attackTimeout === 0) {
                clearInterval(this.player.attackCounter);
              }
            }, 1000);
          },
          startPlayerSpecialAttacks: function () {
            this.player.specialAttackCounter = setInterval(() => {
              this.player.specialAttackTimeout--;

              if (this.player.specialAttackTimeout === 0) {
                clearInterval(this.player.specialAttackCounter);
              }
            }, 1000);
          },
          startPlayerHealCounter: function () {
            this.player.healCounter = setInterval(() => {
              this.player.healTimeout--;

              if (this.player.healTimeout === 0) {
                clearInterval(this.player.healCounter);
              }
            }, 1000);
          },
          calculateAmount: function (min, max) {
            return Math.max(Math.floor(Math.random() * max) + 1, min);
          },
          checkWinner: function () {
            if (this.monster.health <= 0) {
              this.turnWinner = 'player';
              this.resetGame();
              return true;
            } else if (this.player.health <= 0) {
              this.turnWinner = 'monster';
              this.resetGame();
              return true;
            }

            return false;
          },
          resetGame: function () {
            clearInterval(this.player.attackCounter);
            clearInterval(this.player.specialAttackCounter);
            clearInterval(this.player.healCounter);
            clearInterval(this.monster.attackCounter);

            this.gameIsRunning = false;
            this.player.health = 100;
            this.monster.health = 100;
            this.player.attackTimeout = this.defaults.playerAttackTimeout;
            this.player.specialAttackTimeout = this.defaults.playerSpecialAttackTimeout;
            this.player.healTimeout = this.defaults.playerHealTimeout;
            this.monster.attackTimeout = this.defaults.monsterAttackTimeout;
          },
          hit: function (who) {
            who.classList.add('hit');
            setTimeout(() => {
              who.classList.remove('hit');
            }, 500);
          },
        },
      });
    </script>
  </body>
</html>
